# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Send GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm install -g nwb
      - run: npm run build
        env:
          AUTH_DOMAIN: netware.auth0.com
          AUTH_CLIENT_ID: ${{ secrets.AUTH_CLIENT_ID }}
          AUTH_AUDIENCE: ${{ secrets.AUTH_AUDIENCE }}
      - name: deploy docs
        uses: Cecilapp/GitHub-Pages-deploy@2.0.1
        env:
          EMAIL: vladi03@hotmail.com
          GH_TOKEN: ${{ secrets.USER_TOKEN }}
          BUILD_DIR: dist
          CNAME: retail.netware.us